 
body{ 
    background-color: lightgoldenrodyellow; 
} 
.tabletags 
{ 
    background-color:pink; 
    /* padding:20px; 
    margin:20px; */ 
    border-style:groove; 
    text-align:center; 
    font-size:20px; 
} 
.header 
{ 
    color:brown; 
    text-align: center; 
    background-color:cornflowerblue; 
    font-size:70px; 
    font-family: fantasy; 
} 
.mainimg 
{ 
    border-radius: 10px; 
    border-style:dotted; 
} 
p 
{ 
    color:black; 
    background-color: beige; 
    border-style:groove; 
    font-size:20px; 
    text-align:center; 
} 
.formels 
{ 
    text-align:center; 
    font-size:35px; 
    color:darkblue;  
} 
label 
{ 
    font-size:20px; 
    text-align:justify; 
    color:brown; 
}